/*
Document   : _palette
Created on : Nov 19, 2013, 10:41:07 AM
Author     : David Yell <dyell@ukwebmedia.com>
Description:
	Store colour variables for the site style
*/

$bodyBg: #fff;
$contentBg: #fff;
$bodyText: #333;
$heading: #63584d;
$linkHover: saturate(#ea6733, 30%);