@import "palette";
@import "typography";
@import "forms";
@import "pagination";

/* Site layout */
body {
	background: $bodyBg url('../img/brushed.png') repeat;
	padding-top: 70px;
}
body > .container {
	//box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
body > .container > header, #content {
	background: $contentBg;
}
body > .container > header {
	background: darken($contentBg, 20%);
}

/* Navigation */
nav {
	background-color: darken($contentBg, 30%);
	ul.nav.nav-pills {
		li {
			margin-left: 0;
			border-right: 1px solid darken($contentBg, 50%);
			&.active {
				background-color: darken($contentBg, 35%);
				a {
					color: #fff;
				}
			}
			a {
				border-radius: 0;
				background-color: transparent;
				color: $bodyText;
			}
			a:hover {
				background-color: darken($contentBg, 40%);
			}
		}
	}
}

/* My account */
.users.view, .projects.index {
	article {
		margin: 15px 0;
		padding: 10px;
		img {
			float: left;
			margin: 0 15px 15px 0;
		}
		header {
			h3 {
				margin-top: 5px;
			}
			a.btn{
				float: left;
				margin-right: 10px;
			}
			p.project-status {
				float: right;
			}
		}
	}
}
.users.view article {
	border-radius: 3px;
	border: 1px solid darken(#efefef, 10%);
	background-color: #efefef;
}
.projects.view, .projects.form {
	margin: 15px 0;
}
.projects.view {
	img {
		float: left;
	}
	.intro {
		float: left;
	}
	.desc {
		clear: both;
	}
}

/* Carousel customisation */
#featured-projects {
	height: 300px;
	margin: 20px 0;
	div.carousel-inner {
		height: 300px;
		.carousel-caption {
			top: 0;
			right: 0;
			left: 60%;
			padding: 20px;
			background: rgba(0,0,0,0.4);
		}
	}
	.carousel-indicators {
		bottom: -5px;
		li {
			border: 1px solid #333;
		}
	}
}

/* Content stuff */
.latest-projects {
	
}

span.badge.badge-success {
	background-color: #67b70c;
}
span.badge.badge-important {
	background-color: #b50c0c;
}

div.modal-dialog {
	width: 860px;
}

.actions {
	ul {
		-webkit-padding-start: 0;
		li {
			list-style: none;
		}
	}
}

/* Footer bits */
footer {
	//border-top: 1px solid darken($contentBg, 40%);
	padding-top: 20px;
	.links {
		height: 30px;
		ul {
			width: 50%;
			margin: 0 auto;
			li {
				display: block;
				float: left;
				margin: 0 20px;
				text-align: center;
			}
		}
	}
	.credit {
		text-align: center;
	}
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#projects {
	padding: 10px;
}

.project {
	width: 230px;
	margin: 5px 0;
}

.project h3 {
	font-size: 14px;
	margin-top: 0;
}

.project p, .project a {
	font-size: 11px;
}

.project p {
	margin: 0;
}